<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azhar.myfirstandroidproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.AppCompat.Light.NoActionBar.FullScreen">

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".GuessHints"
            android:label="@string/title_activity_game"
            />
        <activity
            android:name=".GuessTheCountry"
            android:label="@string/title_activity_guess_the_flag"
            android:parentActivityName=".GuessHints"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.azhar.myfirstandroidproject.GuessHints" />
        </activity>
        <activity
            android:name=".GuessTheFlag"
            android:label="@string/title_activity_guess_the_country"
            android:parentActivityName=".MainActivity"
           >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.azhar.myfirstandroidproject.MainActivity" />
        </activity>
        <activity
            android:name=".AdvancedLevel"
            android:label="@string/title_activity_advanced_level"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.azhar.myfirstandroidproject.MainActivity" />
        </activity>
    </application>

</manifest>